# Temp files
tempfiles/
temp/
temp.txt
UnQTube_*.txt

# Output files
*.mp4
*.mp3
*.wav
*.vtt
*.srt

# Python cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Environment files
.env
.venv/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db 